/*General set up*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', Arial, Helvetica, sans-serif; 
    background-color: hsl(212, 45%, 89%);
    padding: 0 25px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Container style*/
.container {
    max-width: 320px;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
}

.qr-image{
    width: 100%;
    border-radius: 10px;
}

.content {
    padding: 15px;
    text-align: center;
}

.card-title {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 10px;
    color: hsl(218, 44%, 22%)
;
}

.card-description{
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}

